# Copyright (c) Datalayer, Inc. https://datalayer.io
# Distributed under the terms of the MIT License.

# Check with git check-ignore -v **/*

# Exclude
.*
dist
build
lib
*.lock
*.sqlite
*.tsbuildinfo
*.egg-info
*-lock.json
*-error.log
*.log
*.lock
*.tsbuildinfo
*-lock.yaml
__pycache__
node_modules
coverage
typedoc

# Include
!**/.*ignore
!**/.*rc
!**/.*rc.js
!**/.*config
!*.*rc.json
!**/.env
