.jp-CodeMirrorEditor {
  cursor: text !important;
}

.jp-Notebook.jp-mod-scrollPastEnd::after {
  min-height: fit-content;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.374);
  border-radius: 10px;
}