h1 {
  font-size: 24px;
  color: var(--fgColor-default, #333);
}

.editor-container {
  margin: 20px auto 20px auto;
  border-radius: 2px;
  max-width: 100%;
  color: var(--fgColor-default, #000);
  position: relative;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.editor-inner {
  background: var(--bgColor-default, #fff);
  position: relative;
}

.editor-input {
  min-height: 150px;
  resize: none;
  font-size: 15px;
  caret-color: var(--fgColor-default, rgb(5, 5, 5));
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 15px 10px;
  caret-color: var(--fgColor-default, #444);
}

.editor-placeholder {
  color: var(--fgColor-muted, #999);
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 30px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: var(--fgColor-muted, #999);
}

.toolbar .toolbar-item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}

#block-controls button:hover {
  background-color: var(--bgColor-muted, #efefef);
}

#block-controls button:focus-visible {
  border-color: blue;
}

.dropdown .item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 12px;
  line-height: 16px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon.paragraph {
  background-image: url(icons/text-paragraph.svg);
}

.icon.large-heading,
.icon.h1 {
  background-image: url(icons/type-h1.svg);
}

.icon.small-heading,
.icon.h2 {
  background-image: url(icons/type-h2.svg);
}

.icon.bullet-list,
.icon.ul {
  background-image: url(icons/list-ul.svg);
}

.icon.numbered-list,
.icon.ol {
  background-image: url(icons/list-ol.svg);
}

.icon.quote {
  background-image: url(icons/chat-square-quote.svg);
}

.icon.code {
  background-image: url(icons/code.svg);
}
