.jp-Toolbar {
  display: none;
  position: relative !important;
/*  height: auto !important; */
  height: 0px !important;
}

.jp-Cell {
  width: 100%;
}

.jp-CodeCell {
  height: auto !important;
  top: auto !important;
  position: relative !important;
}
